.root {
    flex-direction: column;
    padding: 20px;
    row-gap: 16px;
}

.title {
    font-size: 24px;
    unity-font-style: bold;
    margin-bottom: 12px;
}

.label {
    font-size: 18px;
}

.btn {
    margin-top: 20px;
    font-size: 20px;
}